In [3]:
import pandas as pd
import numpy as np

In [4]:
base_dataset=pd.read_csv("C:\\Sridhar\\AI_ML\\Python\\Python-20191004T130356Z-001\\Python\\36- Datasets\\titanic\\train.csv")

In [5]:
base_dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
base_dataset.shape

(891, 12)

In [7]:
y=base_dataset['Survived']

In [8]:
y

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [9]:
x=base_dataset[base_dataset.describe().columns]
x = x.drop('Survived',axis=1)

In [10]:
def null_values(base_dataset):
    print(base_dataset.isna().sum())
    ## null value percentage     
    null_value_table=(base_dataset.isna().sum()/base_dataset.shape[0])*100
    ## null value percentage beyond threshold drop , else treat the columns 
    
    retained_columns=null_value_table[null_value_table<int(input())].index
    # if any variable as null value greater than input(like 30% of the data) value than those variable are consider as drop
    drop_columns=null_value_table[null_value_table>int(input())].index
    base_dataset.drop(drop_columns,axis=1,inplace=True)
    len(base_dataset.isna().sum().index)
    cont=base_dataset.describe().columns
    cat=[i for i in base_dataset.columns if i not in base_dataset.describe().columns]
    for i in cat:
        base_dataset[i].fillna(base_dataset[i].value_counts().index[0],inplace=True)
    for i in cont:
        base_dataset[i].fillna(base_dataset[i].median(),inplace=True)
    print(base_dataset.isna().sum())
    return base_dataset,cat,cont

In [11]:
x,cat,cont=null_values(x)

PassengerId      0
Pclass           0
Age            177
SibSp            0
Parch            0
Fare             0
dtype: int64
30
30
PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [12]:
x.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare
0            1       3  22.0      1      0   7.2500
1            2       1  38.0      1      0  71.2833
2            3       3  26.0      0      0   7.9250
3            4       1  35.0      1      0  53.1000
4            5       3  35.0      0      0   8.0500

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=43)

In [15]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(712, 6) (179, 6) (712,) (179,)

In [16]:
X_test

     PassengerId  Pclass   Age  SibSp  Parch      Fare
770          771       3  24.0      0      0    9.5000
853          854       1  16.0      0      1   39.4000
144          145       2  18.0      0      0   11.5000
141          142       3  22.0      0      0    7.7500
261          262       3   3.0      4      2   31.3875
11            12       1  58.0      0      0   26.5500
794          795       3  25.0      0      0    7.8958
390          391       1  36.0      1      2  120.0000
15            16       2  55.0      0      0   16.0000
675          676       3  18.0      0      0    7.7750
780          781       3  13.0      0      0    7.2292
785          786       3  25.0      0      0    7.2500
344          345       2  36.0      0      0   13.0000
125          126       3  12.0      1      0   11.2417
674          675       2  28.0      0      0    0.0000
249          250       2  54.0      1      0   26.0000
677          678       3  18.0      0      0    9.8417
386          387       3   1.0      5      2   46.9000
119          120       3   2.0      4      2   31.2750
250          251       3  28.0      0      0    7.2500
69            70       3  26.0      2      0    8.6625
190          191       2  32.0      0      0   13.0000
134          135       2  25.0      0      0   13.0000
441          442       3  20.0      0      0    9.5000
620          621       3  27.0      1      0   14.4542
480          481       3   9.0      5      2   46.9000
839          840       1  28.0      0      0   29.7000
79            80       3  30.0      0      0   12.4750
821          822       3  27.0      0      0    8.6625
808          809       2  39.0      0      0   13.0000
..           ...     ...   ...    ...    ...       ...
824          825       3   2.0      4      1   39.6875
140          141       3  28.0      0      2   15.2458
186          187       3  28.0      1      0   15.5000
816          817       3  23.0      0      0    7.9250
798          799       3  30.0      0      0    7.2292
849          850       1  28.0      1      0   89.1042
549          550       2   8.0      1      1   36.7500
624          625       3  21.0      0      0   16.1000
103          104       3  33.0      0      0    8.6542
752          753       3  33.0      0      0    9.5000
35            36       1  42.0      1      0   52.0000
283          284       3  19.0      0      0    8.0500
694          695       1  60.0      0      0   26.5500
847          848       3  35.0      0      0    7.8958
828          829       3  28.0      0      0    7.7500
183          184       2   1.0      2      1   39.0000
547          548       2  28.0      0      0   13.8625
244          245       3  30.0      0      0    7.2250
812          813       2  35.0      0      0   10.5000
464          465       3  28.0      0      0    8.0500
462          463       1  47.0      0      0   38.5000
801          802       2  31.0      1      1   26.2500
143          144       3  19.0      0      0    6.7500
319          320       1  40.0      1      1  134.5000
127          128       3  24.0      0      0    7.1417
71            72       3  16.0      5      2   46.9000
423          424       3  28.0      1      1   14.4000
342          343       2  28.0      0      0   13.0000
825          826       3  28.0      0      0    6.9500
293          294       3  24.0      0      0    8.8500

[179 rows x 6 columns]

In [17]:
from sklearn.metrics import confusion_matrix,accuracy_score
dt=RandomForestClassifier()
dt.fit(X_train,y_train)
dt.predict(X_test)
dt.predict(X_train)
print(confusion_matrix(y_test,dt.predict(X_test)))
print(accuracy_score(y_test,dt.predict(X_test)))
print(confusion_matrix(y_train,dt.predict(X_train)))
print(accuracy_score(y_train,dt.predict(X_train)))
# final_accuracy_scores.append([i,confusion_matrix(y_test,dt.predict(X_test)),accuracy_score(y_test,dt.predict(X_test)),confusion_matrix(y_train,dt.predict(X_train)),accuracy_score(y_train,dt.predict(X_train))])
from sklearn.model_selection import cross_val_score
print(cross_val_score(RandomForestClassifier(),X_train,y_train,cv=10))

C:\Users\srivutta\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\srivutta\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\srivutta\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\srivutta\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\srivutta\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\srivutta\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\srivutta\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\srivutta\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\srivutta\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\srivutta\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\srivutta\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

[[92 18]
 [42 27]]
0.664804469273743
[[437   2]
 [ 17 256]]
0.973314606741573
[0.63888889 0.68055556 0.80555556 0.73239437 0.76056338 0.67605634
 0.69014085 0.69014085 0.69014085 0.65714286]

In [18]:
dt.predict_proba(X_test)[0:5]

array([[1. , 0. ],
       [0.2, 0.8],
       [0.7, 0.3],
       [0.6, 0.4],
       [0.8, 0.2]])

In [19]:
dt.predict(X_test)[0:5]

array([0, 1, 0, 0, 0], dtype=int64)